app:
  key: "my_secret_key"
gin:
  port: 8000
mysql:
  host: "127.0.0.1"
  port: 3306
  user: "root"
  password: "password"
  database: "gin-api"
redis:
  host: "localhost"
  port: 6379
minio:
  endpoint:
  accessKey:
  secretKey:
